### other
*.o
*.swp
*.core
*.exe
*.out

dictionary

### CodeBlocks ###
# specific to CodeBlocks IDE
*.layout
*.depend
# generated directories
bin/
obj/

# End of https://www.gitignore.io/api/codeblocks
